---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Fira Sans", Georgia, serif;
$base-font-size:   16px;
$base-line-height: 1.5;


//Colors
$cGreen: #97Bd3d;
$cGreen1: #A1BA42;
$white: #FFF;
$dark: #555555;
$ligthen-dark: #888;
$gray: #BBB;
$light: #FAFAFA;
$red: #ED1846;
$orange: #E98300;
$border: #E5E5DF;

//Animation
$easeInOutCubic :  cubic-bezier(0.645, 0.045, 0.355, 1.000);


// Import settings
@import
  "base",
  "layout",
  "grid",
  "mixins",
  "syntax-highlighting";

// Import layouts
@import
  "layouts/header",
  "layouts/sidenav",
  "layouts/post",
  "layouts/code-snippet",
  "layouts/color-gallery";
