<div class="post-top-bar">
  <h3>
    {% for category in page.categories %}
      {% if forloop.length == forloop.index %}
        {{category | replace:'-',' '}}
      {% else %}
        {{category | replace:'-',' '}} >
      {% endif %}
    {% endfor %}

  </h3>
  <div class="pagination">
    {% if page.previous %}
      <a class="prev" href="{{ site.baseurl }}{{page.previous.url}}">&laquo; Previous</a>
    {% endif %}
    {% if page.next %}
      <a class="next" href="{{ site.baseurl }}{{page.next.url}}">Next &raquo;</a>
    {% endif %}
  </div>
</div>
