<aside class="layout-sidenav">
  <nav>
    <ul class="first-level">
      <li>
        <h2>BRAND GUIDELINES</h2>
        <ul class="second-level">
          <li><h3 class="{% if {{page.title}} == 'Logo' %}current{% endif %}"><a href="{{site.baseurl}}/brand-guidelines/logo.html">Logo</a></h3></li>
          <li><h3 class="{% if {{page.title}} == 'Colors' %}current{% endif %}"><a href="{{site.baseurl}}/brand-guidelines/colors.html" >Colors</a></h3></li>
          <li><h3 class="{% if {{page.title}} == 'Type' %}current{% endif %}"><a href="{{site.baseurl}}/brand-guidelines/type.html">Type</a></h3></li>
        </ul>
      </li>
      <li>
        <h2>PAGE ELEMENTS</h2>
        <ul class="second-level">
          <li><h3 class="{% if {{page.title}} == 'Grid' %}current{% endif %}"><a href="{{site.baseurl}}/page-elements/grid.html">Grid</a></h3></li>
          <li><h3 class="{% if {{page.title}} == 'Responsive adaptations' %}current{% endif %}"><a href="{{site.baseurl}}/page-elements/responsive-adaptations.html">Responsive adaptations</a></h3></li>
          <li>
            <h3 class="{% if {{page.title}} == 'Structural elements' %}current{% endif %}"><a href="{{site.baseurl}}/page-elements/structural-elements.html">Structural elements</a></h3>
            <ul class="third-level">
              <li class="{% if {{page.title}} == 'Toolbar' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/structural-elements/toolbar.html">Toolbar</a></li>
              <li class="{% if {{page.title}} == 'Navigation bar' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/structural-elements/navigation-bar.html">Navigation bar</a></li>
              <li class="{% if {{page.title}} == 'Header' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/structural-elements/header.html">Header</a></li>
              <li class="{% if {{page.title}} == 'Content' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/structural-elements/content.html">Content</a></li>
              <li class="{% if {{page.title}} == 'Related content' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/structural-elements/related-content.html">Related content</a></li>
              <li class="{% if {{page.title}} == 'Footer' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/structural-elements/footer.html">Footer</a></li>
              <li class="{% if {{page.title}} == 'Sidebar' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/structural-elements/sidebar.html">Sidebar</a></li>
            </ul>
          </li>
          <li>
            <h3 class="{% if {{page.title}} == 'Common elements' %}current{% endif %}"><a href="{{site.baseurl}}/page-elements/common-elements.html">Common elements</a></h3>
            <ul class="third-level">
              <li class="{% if {{page.title}} == 'Links and buttons' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/common-elements/links-and-buttons.html">Links and buttons</a></li>
              <li class="{% if {{page.title}} == 'Forms' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/common-elements/forms.html">Forms</a></li>
              <li class="{% if {{page.title}} == 'Lists' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/common-elements/lists.html">Lists</a></li>
              <li class="{% if {{page.title}} == 'Tabs' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/common-elements/tabs.html">Tabs</a></li>
              <li class="{% if {{page.title}} == 'Modal windows' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/common-elements/modal-windows.html">Modal windows</a></li>
              <li class="{% if {{page.title}} == 'Tooltips' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/common-elements/tooltips.html">Tooltips</a></li>
              <li class="{% if {{page.title}} == 'Icons' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/common-elements/icons.html">Icons</a></li>
              <li class="{% if {{page.title}} == 'Maps' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/common-elements/maps.html">Maps</a></li>
              <li class="{% if {{page.title}} == 'Charts' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/common-elements/charts.html">Charts</a></li>
              <li class="{% if {{page.title}} == 'Other' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/common-elements/other.html">Other</a></li>
            </ul>
          </li>
          <li>
            <h3 class="{% if {{page.title}} == 'Main templates' %}current{% endif %}"><a href="{{site.baseurl}}/page-elements/main-templates.html">Main templates</a></h3>
            <ul class="third-level">
              <li class="{% if {{page.title}} == 'Home template' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/main-templates/home-template.html">Home template</a></li>
              <li class="{% if {{page.title}} == 'Content template' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/main-templates/content-template.html">Content template</a></li>
              <li class="{% if {{page.title}} == 'Directory template' %}item-selected{% endif %}"><a href="{{site.baseurl}}/page-elements/main-templates/directory-template.html">Directory template</a></li>
              <li class="{% if {{page.title}} == 'Story template' %}item-selected{% endif %}"><a  href="{{site.baseurl}}/page-elements/main-templates/story-template.html">Story template</a></li>
              <li class="{% if {{page.title}} == 'Newsletter' %}item-selected{% endif %}"><a  href="{{site.baseurl}}/page-elements/main-templates/newsletter.html">Newsletter</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <h2>APPLICATIONS</h2>
        <ul class="second-level">
          <li><h3 class="{% if {{page.title}} == 'Design guidelines' %}current{% endif %}"><a href="{{site.baseurl}}/applications/design-guidelines.html">Design guidelines</a></h3></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
