<aside class="layout-sidenav">
  <nav>
    <ul class="first-level">
      <li>
        <h2>BRAND GUIDELINES</h2>
        <ul class="second-level">
          <li><h3 data-location="logo"><a href="{{site.baseurl}}/brand-guidelines/logo.html">Logo</a></h3></li>
          <li><h3 data-location="colors"><a href="{{site.baseurl}}/brand-guidelines/colors.html" >Colors</a></h3></li>
          <li><h3 data-location="type"><a href="{{site.baseurl}}/brand-guidelines/type.html">Type</a></h3></li>
        </ul>
      </li>
      <li>
        <h2>PAGE ELEMENTS</h2>
        <ul class="second-level">
          <li><h3 data-location="grid"><a href="{{site.baseurl}}/page-elements/grid.html">Grid</a></h3></li>
          <li><h3 data-location="responsive-adaptations"><a href="{{site.baseurl}}/page-elements/responsive-adaptations.html">Responsive adaptations</a></h3></li>
          <li>
            <h3 data-location="structural-elements"><a href="{{site.baseurl}}/page-elements/structural-elements.html" class="has-menu">Structural elements</a></h3>
            <ul class="third-level hidden">
              <li data-location="toolbar"><a href="{{site.baseurl}}/page-elements/structural-elements/toolbar.html">Toolbar</a></li>
              <li data-location="navigation-bar"><a href="{{site.baseurl}}/page-elements/structural-elements/navigation-bar.html">Navigation bar</a></li>
              <li data-location="header"><a href="{{site.baseurl}}/page-elements/structural-elements/header.html">Header</a></li>
              <li data-location="content"><a href="{{site.baseurl}}/page-elements/structural-elements/content.html">Content</a></li>
              <li data-location="related-content"><a href="{{site.baseurl}}/page-elements/structural-elements/related-content.html">Related content</a></li>
              <li data-location="footer"><a href="{{site.baseurl}}/page-elements/structural-elements/footer.html">Footer</a></li>
              <li data-location="sidebar"><a href="{{site.baseurl}}/page-elements/structural-elements/sidebar.html">Sidebar</a></li>
            </ul>
          </li>
          <li>
            <h3 data-location="common-elements"><a href="{{site.baseurl}}/page-elements/common-elements.html" class="has-menu">Common elements</a></h3>
            <ul class="third-level hidden">
              <li data-location="links-and-buttons"><a href="{{site.baseurl}}/page-elements/common-elements/links-and-buttons.html">Links and buttons</a></li>
              <li data-location="forms"><a href="{{site.baseurl}}/page-elements/common-elements/forms.html">Forms</a></li>
              <li data-location="lists"><a href="{{site.baseurl}}/page-elements/common-elements/lists.html">Lists</a></li>
              <li data-location="tabs"><a href="{{site.baseurl}}/page-elements/common-elements/tabs.html">Tabs</a></li>
              <li data-location="modal-windows"><a href="{{site.baseurl}}/page-elements/common-elements/modal-windows.html">Modal windows</a></li>
              <li data-location="tooltips"><a href="{{site.baseurl}}/page-elements/common-elements/tooltips.html">Tooltips</a></li>
              <li data-location="icons"><a href="{{site.baseurl}}/page-elements/common-elements/icons.html">Icons</a></li>
              <li data-location="maps"><a href="{{site.baseurl}}/page-elements/common-elements/maps.html">Maps</a></li>
              <li data-location="feedback"><a href="/gfw-style-guides/page-elements/common-elements/feedback.html">Feedback</a></li>
              <li data-location="charts"><a href="{{site.baseurl}}/page-elements/common-elements/charts.html">Charts</a></li>
              <li data-location="other"><a href="{{site.baseurl}}/page-elements/common-elements/other.html">Other</a></li>
            </ul>
          </li>
          <li>
            <h3 data-location="main-templates"><a href="{{site.baseurl}}/page-elements/main-templates.html" class="has-menu">Main templates</a></h3>
            <ul class="third-level hidden">
              <li data-location="home-template"><a href="{{site.baseurl}}/page-elements/main-templates/home-template.html">Home template</a></li>
              <li data-location="content-template"><a href="{{site.baseurl}}/page-elements/main-templates/content-template.html">Content template</a></li>
              <li data-location="directory-template"><a href="{{site.baseurl}}/page-elements/main-templates/directory-template.html">Directory template</a></li>
              <li data-location="story-template"><a  href="{{site.baseurl}}/page-elements/main-templates/story-template.html">Story template</a></li>
              <li data-location="newsletter"><a  href="{{site.baseurl}}/page-elements/main-templates/newsletter.html">Newsletter</a></li>
              <li data-location="reports-template"><a  href="{{site.baseurl}}/page-elements/main-templates/reports-template.html">Reports</a></li>
              <li data-location="user-profiles"><a  href="{{site.baseurl}}/page-elements/main-templates/user-profiles.html">User Profiles</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <h2>APPLICATIONS</h2>
        <ul class="second-level">
          <li><h3 data-location="branded-sub-sites"><a href="{{site.baseurl}}/applications/branded-sub-sites.html" class="has-menu">Branded sub-sites</a></h3>
            <ul class="third-level hidden">
              <li data-location="brand-adaptation"><a href="{{site.baseurl}}/applications/branded-sub-sites/brand-adaptation.html">Brand adaptation</a></li>
              <li data-location="building-an-interface"><a href="{{site.baseurl}}/applications/branded-sub-sites/building-an-interface.html">Building an interface</a></li>
            </ul>
          </li>
          <li><h3 data-location="third-party-applications"><a href="{{site.baseurl}}/applications/third-party-applications.html">Third party applications</a></h3></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
