<aside class="layout-sidenav">
  <nav>
    <ul class="first-level">
      <li>
        <h2>BRAND GUIDELINES</h2>
        <ul class="second-level">
          <li><h3><a href="{{site.baseurl}}/brand-guidelines/logo.html">Logo</a></h3></li>
          <li><h3><a href="{{site.baseurl}}/brand-guidelines/colors.html">Colors</a></h3></li>
          <li><h3><a href="{{site.baseurl}}/brand-guidelines/type.html">Type</a></h3></li>
        </ul>
      </li>
      <li>
        <h2>PAGE ELEMENTS</h2>
        <ul class="second-level">
          <li><h3><a href="{{site.baseurl}}/page-elements/grid.html">Grid</a></h3></li>
          <li><h3><a href="{{site.baseurl}}/page-elements/responsive-adaptations.html">Responsive adaptations</a></h3></li>
          <li>
            <h3><a href="{{site.baseurl}}/page-elements/structural-elements.html">Structural elements</a></h3>
            <ul class="third-level">
              <li><a herf="{{site.baseurl}}/page-elements/structural-elements/toolbar.html">Toolbar</a></li>
              <li><a herf="{{site.baseurl}}/page-elements/structural-elements/navigation-bar.html">Navigation bar</a></li>
              <li><a herf="{{site.baseurl}}/page-elements/structural-elements/header.html">Header</a></li>
              <li><a herf="{{site.baseurl}}/page-elements/structural-elements/content.html">Content</a></li>
              <li><a herf="{{site.baseurl}}/page-elements/structural-elements/related-content.html">Related content</a></li>
              <li><a herf="{{site.baseurl}}/page-elements/structural-elements/footer.html">Footer</a></li>
              <li><a herf="{{site.baseurl}}/page-elements/structural-elements/sidebar.html">Sidebar</a></li>
            </ul>
          </li>
          <li>
            <h3><a href="{{site.baseurl}}/page-elements/common-elements.html">Common elements</a></h3>
            <ul class="third-level">
              <li><a href="{{site.baseurl}}/page-elements/common-elements/links-and-buttons.html">Links and buttons</a></li>
              <li><a href="{{site.baseurl}}/page-elements/common-elements/forms.html">Forms</a></li>
              <li><a href="{{site.baseurl}}/page-elements/common-elements/lists.html">Lists</a></li>
              <li><a href="{{site.baseurl}}/page-elements/common-elements/tabs.html">Tabs</a></li>
              <li><a href="{{site.baseurl}}/page-elements/common-elements/modal-windows.html">Modal windows</a></li>
              <li><a href="{{site.baseurl}}/page-elements/common-elements/tooltips.html">Tooltips</a></li>
              <li><a href="{{site.baseurl}}/page-elements/common-elements/icons.html">Icons</a></li>
              <li><a href="{{site.baseurl}}/page-elements/common-elements/maps.html">Maps</a></li>
              <li><a href="{{site.baseurl}}/page-elements/common-elements/charts.html">Charts</a></li>
              <li><a href="{{site.baseurl}}/page-elements/common-elements/other.html">Other</a></li>
            </ul>
          </li>
          <li>
            <h3>Main templates</h3>
            <ul class="third-level">
              <li><a href="#">Home template</a></li>
              <li><a href="#">Content template</a></li>
              <li><a href="#">Directory template</a></li>
              <li><a href="#">Story template</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <h2>APPLICATIONS</h2>
        <ul class="second-level">
          <li><h3><a href="#">Design guidelines</a></h3></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
