// Retina
@mixin retina-image($file-1x, $file-2x) {
  background-image: url($file-1x);
  background-size: contain;
  @media
  only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (   min--moz-device-pixel-ratio: 1.5),
  only screen and (     -o-min-device-pixel-ratio: 1.5),
  only screen and (        min-device-pixel-ratio: 1.5),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url($file-2x);
  }
}

@mixin arrow ($direction, $meassure, $border-width, $color, $rotate) {
  content: '';
  position: absolute;
  display: inline-block;
  width: $meassure;
  height: $meassure;
  -webkit-transform: rotate($rotate);
  transform: rotate($rotate);
  border-top: $border-width solid $color;

  @if $direction == 'left' {
    border-left: $border-width solid $color;
    left: 0;
  }

  @if $direction == 'right' {
    border-right: $border-width solid $color;
    right: 0;
  }
}
