.code-snippet-box{
  @extend %clearfix;
  padding: 0 0 40px;
}
.show-code {
  position: relative;
  float: right;
  margin-bottom: 20px;
  padding-right: 13px;
  color: $gray;
  text-transform: uppercase;
  cursor: pointer;
  &:after {
    @include arrow('right', 9px, 3px, $gray, 45deg);
    top: 6px;
  }
}

.code-snippet {
  overflow: hidden;
  width: 100%;
  color: $white;
  border-radius: 7px;
  background: #000;

  .tabs {
    position: relative;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3A3A3A), to(#333333));
    ul {
      overflow: hidden;
      padding: 10px 5px;
      li {
        float: left;
        padding: 0;
        &:before {
          width: 0;
          height: 0;
        }
        a {
          display: inline-block;
          padding: 4px 10px 2px;
          font-size: 13px;
          color: $gray;
          &:nth-child(2n+1) {
            margin: 0 5px;
          }
          &.active {
            color: $dark;
            background: $gray;
            border-radius: 15px;
          }
        }
      }
    }
    .close {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translate(0, -50%);
      cursor: pointer;
      color: $gray;
    }
  }
  .highlight {
    font-family: 'Inconsolata';
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 15px;
    line-height: 1.2em;
    background: #222;
    max-height: 400px;
    overflow: scroll;
  }
}
