.post-section{
  color: $dark;
  // POST HEADER
  header{
    margin: 30px 0 0;
    h2{
      font-size: 32px;
      color: #333;
      font-weight: 500;
    }
    h3{

    }
  }
  // POST CONTENT
  .post-content{
    >*{
      margin: 10px 0 0;
      // &:first-child{ margin: 0 0 0;}
    }
    h3{
      margin-top: 30px;
      font-size: 22px;
      font-weight: 500;
      color: #333;
    }
    ul{
      padding-left: 30px;
      li{
        position: relative;
        padding: 0 0 0 15px;
        color: $ligthen-dark;
        font-weight: 500;
        &:before{
          content: "";
          position: absolute;
          top: 12px;
          left: 0;
          width: 6px;
          height: 6px;
          margin: -4px 0 0;
          background: $cGreen;
          border-radius: 50%;
        }
      }
    }

    .advice {
      width: 100%;
      border: 1px solid $cGreen;
      border-left-width: 5px;
      background: #FDFFF7;
      &.development {
        border-color: #F5A623;
        background: #FEF4E3;
        .advice_content {
          color: #F5A623;
        }
      }

      .advice_content {
        display: table-cell;
        padding: 15px 0 15px 20px;
        font-size: 15px;
        color: $cGreen;
        font-weight: 500;
      }
    }

    .gallery {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;

      .image-container {
        margin: 0 auto 20px;
        text-align: center;
        img, a {
          margin: 20px auto;
        }
      }
    }

    .center {
      text-align: center;
      img {
        display: block;
        margin: 20px auto;
      }
    }
  }

  // POST TOP BAR
  .post-top-bar{
    border-bottom: 1px solid $border;
    margin: 0 0 15px;
    @extend %clearfix;
    h3{
      float: left;
      color: $gray;
      font-size: 16px;
      text-transform: capitalize;
      a {
        color: inherit;
      }
    }
    .pagination{
      float: right;
      .prev,
      .next {
        position: relative;
        font-weight: 500;
        text-transform: uppercase;
      }
      .prev {
        margin-right: 20px;
        padding-left: 13px;
        &:before {
          @include arrow('left', 9px, 2px, $cGreen, -45deg);
          top: 7px;
        }
      }
      .next {
        padding-right: 13px;
        &:after {
          @include arrow('right', 9px, 2px, $cGreen, 45deg);
          top: 7px;
        }
      }
    }
  }

  // POST BOTTOM BAR
  .post-bottom-bar {
    clear: both;
    border-top: 1px solid $border;
    margin: 50px 0 0;
    @extend %clearfix;
    .pagination {
      text-align: right;
      .next,
      .back {
        position: relative;
        display: inline-block;
        margin: 15px 0 0;
        font-weight: 500;
        text-transform: uppercase;
        .next-title {
          font-weight: 600;
        }
      }
      // .back {
      //   padding-left: 13px;
      //   &:after {
      //     @include arrow('left', 9px, 2px, $cGreen, -45deg);
      //     top: 6px;
      //   }
      // }
      .next {
        padding-right: 13px;
        &:after {
          @include arrow('right', 9px, 2px, $cGreen, 45deg);
          top: 6px;
        }
      }
    }
  }
}

// SPINNER
.spinner-box {
  position: relative;
  height: 100px;
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    @include transform(translate(-50%,-50%));
    // @mixin animation($name,$duration,$count: 1,$function: linear,$direction: normal,$fill : none,$delay : 0s, $play: running)
    @include animation(loader,1s,infinite,$easeInOutCubic);
    visibility: hidden;
    opacity: 0;
    z-index: 11;
    svg{
      fill: $cGreen;
    }
    &.start {
      visibility: visible;
      opacity: 1;
    }
  }
}

.btn {
  -webkit-font-smoothing: antialiased;
  padding: 5px 20px;
  border: 0;
  border-radius: 40px;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: background 0.15s linear;
  &:focus {
    outline: 0;
  }

  &.btn--preview {
    color: #555;
    border: 1px solid #97BD3D;
    &:hover {
      background: #f2f2f2;
    }
  }

  &.btn--download {
    color: #fff;
    background: #97BD3D;
    &:hover {
      background: #789631;
    }
  }
  &.btn--disabled {
    cursor: default;
    pointer-events: none;
    opacity: .25;
    &:hover {
      background: #97BD3D;
    }
  }

}
