.post-section{
  color: $dark;
  // POST HEADER
  header{
    margin: 30px 0 0;
    h2{
      font-size: 35px;
      font-weight: 500;
    }
    h3{

    }
  }
  // POST CONTENT
  .post-content{
    >*{
      margin: 10px 0 0;
      // &:first-child{ margin: 0 0 0;}
    }
    h3{
      font-size: 24px;
      font-weight: 500;
    }
    ul{
      padding-left: 30px;
      li{
        position: relative;
        padding: 0 0 0 15px;
        color: $ligthen-dark;
        font-weight: 500;
        &:before{
          content: "";
          position: absolute;
          top: 12px;
          left: 0;
          width: 6px;
          height: 6px;
          margin: -4px 0 0;
          background: $cGreen;
          border-radius: 50%;
        }
      }
    }

    .gallery {
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      img, a {
        margin: 20px auto;
      }
    }

    .center {
      text-align: center;
      img {
        display: block;
        margin: 20px auto;
      }
    }
  }

  // POST TOP BAR
  .post-top-bar{
    border-bottom: 1px solid $border;
    margin: 0 0 15px;
    @extend %clearfix;
    h3{
      float: left;
      color: $gray;
      font-size: 16px;
      a {
        color: inherit;
      }
    }
    .pagination{
      float: right;
      .prev,
      .next {
        position: relative;
        font-weight: 500;
        text-transform: uppercase;
      }
      .prev {
        margin-right: 20px;
        &:before {
          content: '';
          position: absolute;
          display: inline-block;
          top: 7px;
          left: -10px;
          width: 9px;
          height: 9px;
          border-top: 2px solid $cGreen;
          border-left: 2px solid $cGreen;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
      .next {
        padding-right: 13px;
        &:after {
          content: '';
          position: absolute;
          display: inline-block;
          top: 7px;
          right: 2px;
          width: 9px;
          height: 9px;
          border-top: 2px solid $cGreen;
          border-right: 2px solid $cGreen;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }

  // POST BOTTOM BAR
  .post-bottom-bar {
    border-top: 1px solid $border;
    margin: 50px 0 0;
    @extend %clearfix;
    .pagination {
      .next,
      .back {
        position: relative;
        display: inline-block;
        margin: 15px 0 0;
        font-weight: 500;
        text-transform: uppercase;
        .next-title {
          font-weight: 600;
        }
      }
      .back {
        padding-left: 13px;
        &:after {
          content: '';
          position: absolute;
          display: inline-block;
          top: 7px;
          left: 2px;
          width: 9px;
          height: 9px;
          border-top: 2px solid $cGreen;
          border-left: 2px solid $cGreen;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
      .next {
        padding-right: 13px;
        &:after {
          content: '';
          position: absolute;
          display: inline-block;
          top: 6px;
          right: 2px;
          width: 9px;
          height: 9px;
          border-top: 2px solid $cGreen;
          border-right: 2px solid $cGreen;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
  }
}
