---
layout: default
---


{% if page.previous %}
  <a class="prev" href="{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
{% endif %}
{% if page.next %}
  <a class="prev" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}}&raquo;</a>
{% endif %}

<section class="post-section">
  <header>
    <h2>{{ page.title }}</h2>
    <!-- <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p> -->
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</section>
