{% highlight html %}
<h1>Title 1</h1>

<h2>Title h2 <span class="highlight">highlight</span></h2>

<h3>Title h3</h3>

<h4>Hightlighted text</h4>

<p>Body text. Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum,
neque sem pretium metus, quis mollis nisl nunc et massa. Vestibulum sed metus in lorem tristique
ullamcorper id vitae erat.</p>

<div class="testimonial-quote">Quote text. Nam dapibus nisl vitae elit...</div>
<span class="author">
  <strong>Quote Author</strong>
  Quote author position
</span>
{% endhighlight %}

