{% highlight css %}
h1 {
  font-family: 'Fira Sans';
  font-size: 47px;
  font-weight: 300;
  color: #555555;
  line-height: 1em;
}
h2 {
  font-family: 'Fira Sans';
  font-size: 35px;
  font-weight: 300;
  color: #555555;
  line-height: 1em;
}
h2 .highlight {
  font-family: 'Fira Sans';
  font-size: 21px;
  font-weight: 500;
  color: #555555;
}
h3 {
  font-family: 'Fira Sans';
  font-size: 21px;
  font-weight: 500;
  color: #555555;
  line-height: 1em;
}

.testimonial-quote {
  position: relative;
  padding: 10px 0 10px 25px;
  font-style: italic;
}

.testimonial-quote:before {
  content: "“";
  color: #97Bd3d;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
}

.author {
  display: block;
  text-align: right;
}

.author strong {
  display: block;
  font-weight: 500;
}

{% endhighlight %}
