
.header-stories {
  color: #555555;
  padding: 75px 0 20px;
}
@media (min-width: 850px) {

  .header-stories {
    padding: 70px 0 50px;
  }
}
.header-stories h2 {
  font-size: 32px;
  padding: 0 0 15px;
}
@media (min-width: 850px) {

  .header-stories h2 {
    font-size: 47px;
  }
}
.header-stories h3 {
  font-size: 21px;
  line-height: 1.25;
  padding: 0 0 10px;
}
.header-stories p {
  font-size: 14px;
  line-height: 1.5;
}
.header-stories .inner {
  padding: 0 15px;
}

.content-stories {
  padding: 0 0 20px;
}
.content-stories .inner {
  padding: 0 15px;
}
.content-stories .story-carrousel {
  width: 100%;
  margin: 0 0 20px;
  position: relative;
  padding-bottom: 56.25%;
}
.content-stories .story-carrousel.no-padding {
  padding-bottom: 0;
}
@media (min-width: 850px) {

  .content-stories .story-carrousel {
    height: 500px;
    margin: 0 0 30px;
    padding-bottom: 0%;
  }
}
.content-stories .story-carrousel .frame {
  display: none;
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  height: 100%;
  width: calc(100% + 30px);
  overflow: hidden;
}
@media (min-width: 850px) {

  .content-stories .story-carrousel .frame {
    top: 50%;
    right: 50px;
    left: auto;
    border-radius: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    height: 200px;
    width: 200px;
    border: 2px solid #999;
    display: block;
  }
}
.content-stories .story-carrousel .frame img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 850px) {

  .content-stories .story-carrousel .frame img {
    width: auto;
  }
}
.content-stories .story-carrousel > ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  width: calc(100% + 36px);
  margin: 0 0 0 -18px;
}
@media (min-width: 850px) {

  .content-stories .story-carrousel > ul {
    margin: 0;
    width: 100%;
  }
}
.content-stories .story-carrousel > ul > li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}
.content-stories .story-carrousel > ul > li.current {
  opacity: 1;
  visibility: visible;
}
.content-stories .story-carrousel > ul > li .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("backgrounds/index_map.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 849px) {

  .content-stories .story-carrousel > ul > li iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.content-stories .story-carrousel .main-slider-pagination {
  width: 100%;
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 2;
}
.content-stories .story-carrousel .main-slider-pagination .inner {
  width: 100%;
}
@media (min-width: 850px) {

  .content-stories .story-carrousel .main-slider-pagination {
    top: auto;
    bottom: 20px;
    right: 20px;
  }
}
.content-stories .story-carrousel .main-slider-pagination ul {
  float: right;
}
.content-stories .story-carrousel .main-slider-pagination ul li {
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  width: 10px;
  height: 10px;
  opacity: 0.8;
  border-radius: 50%;
  cursor: pointer;
  background: white;
  float: left;
  margin: 0 0 0 15px;
  -webkit-transition: all, 0.5s, cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all, 0.5s, cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all, 0.5s, cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all, 0.5s, cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.content-stories .story-carrousel .main-slider-pagination ul li:first-child {
  margin: 0;
}
.content-stories .story-carrousel .main-slider-pagination ul li.current, .content-stories .story-carrousel .main-slider-pagination ul li:hover {
  opacity: 1;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
.content-stories .story-carrousel .main-slider-pagination ul li:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 250%;
  height: 250%;
  background: transparent;
}
@media (min-width: 850px) {

  .content-stories .story-carrousel .main-slider-pagination ul li {
    width: 6px;
    height: 6px;
  }
}
.content-stories .story-carrousel .next, .content-stories .story-carrousel .previous {
  display: none;
  background: #97bd3d;
  position: absolute;
  z-index: 5;
  width: 50%;
  height: 50px;
  width: 50px;
  border: 3px solid white;
  top: 50%;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@media (min-width: 850px) {

  .content-stories .story-carrousel .next, .content-stories .story-carrousel .previous {
    display: block;
  }
}
.content-stories .story-carrousel .next.current, .content-stories .story-carrousel .previous.current {
  display: none;
}
.content-stories .story-carrousel .next:before, .content-stories .story-carrousel .previous:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.content-stories .story-carrousel .previous {
  left: -20px;
  margin: 0;
}
.content-stories .story-carrousel .previous:before {
  background: url(/assets/svg-icons/arrow-left.svg) center no-repeat;
  -webkit-transform: translate(-2px, 0);
  -moz-transform: translate(-2px, 0);
  -ms-transform: translate(-2px, 0);
  -o-transform: translate(-2px, 0);
  transform: translate(-2px, 0);
}
.content-stories .story-carrousel .next {
  right: -20px;
  margin: 0;
}
.content-stories .story-carrousel .next:before {
  background: url(/assets/svg-icons/arrow-right.svg) center no-repeat;
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}
.content-stories .story-content p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #666;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  -ms-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
}
@media (min-width: 850px) {

  .content-stories .story-content p {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -ms-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    -ms-column-gap: 40px;
    -o-column-gap: 40px;
    column-gap: 40px;
  }
}

.more-stories-section {
  padding: 40px 0;
}
.more-stories-section .inner {
  padding: 0 15px;
}
.more-stories-section .inner > h2 {
  padding: 0 0 20px;
}
.more-stories-section .row {
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  align-items: stretch;
  -webkit-align-items: stretch;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.more-stories-section .row .col {
  width: 100%;
  min-height: 1px;
  margin-top: 20px;
}
.more-stories-section .row .col:first-child {
  margin-top: 0;
}
@media (min-width: 850px) {

  .more-stories-section .row .col {
    width: 25%;
    min-height: 1px;
    margin-top: 0;
  }
}
.more-stories-section .row .col a {
  margin: 0 auto;
  display: block;
  color: #555555;
  text-decoration: none;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: stretch;
  -webkit-align-items: stretch;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 850px) {

  .more-stories-section .row .col a {
    text-align: center;
    width: 80%;
    max-width: 175px;
  }
}
.more-stories-section .row .col a h3 {
  font-size: 14px;
  padding: 0 10px;
  width: calc(100% - 70px);
}
@media (min-width: 850px) {

  .more-stories-section .row .col a h3 {
    padding: 15px 0 0;
    width: 100%;
  }
}
.more-stories-section .row .col a .frame {
  width: 70px;
  padding-bottom: 70px;
  background: #000;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 2px solid #999;
}
@media (min-width: 850px) {

  .more-stories-section .row .col a .frame {
    width: 100%;
    padding-bottom: 100%;
  }
}
.more-stories-section .row .col a .frame img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.more-stories-section .row .col a.new-story .frame {
  background: none;
  border: 2px dotted #97bd3d;
}
.more-stories-section .row .col a.new-story .frame:before, .more-stories-section .row .col a.new-story .frame:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  height: 2px;
  background: #555555;
  -webkit-transition: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -moz-transition: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -o-transition: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.15s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transform-origin: 50% 50% 50%;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -o-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
}
.more-stories-section .row .col a.new-story .frame:before {
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -moz-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  -o-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
}
.more-stories-section .row .col a.new-story .frame:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  -moz-transform: translate(-50%, -50%) rotate(90deg);
  -ms-transform: translate(-50%, -50%) rotate(90deg);
  -o-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
.more-stories-section .row .col a.new-story .frame:hover:before {
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(0.75);
  -moz-transform: translate(-50%, -50%) rotate(0deg) scale(0.75);
  -ms-transform: translate(-50%, -50%) rotate(0deg) scale(0.75);
  -o-transform: translate(-50%, -50%) rotate(0deg) scale(0.75);
  transform: translate(-50%, -50%) rotate(0deg) scale(0.75);
}
.more-stories-section .row .col a.new-story .frame:hover:after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg) scale(0.75);
  -moz-transform: translate(-50%, -50%) rotate(90deg) scale(0.75);
  -ms-transform: translate(-50%, -50%) rotate(90deg) scale(0.75);
  -o-transform: translate(-50%, -50%) rotate(90deg) scale(0.75);
  transform: translate(-50%, -50%) rotate(90deg) scale(0.75);
}

.submit-section {
  padding: 70px 0 50px;
}
.submit-section aside {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  font-size: 13px;
  border-right: 1px solid #e5e5df;
  padding-right: 20px;
  top: -71px;
  padding-top: 71px;
  height: 111.1%;
}
@media (min-width: 850px) {

  .submit-section aside {
    display: block;
  }
}
.submit-section aside h3 {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #333;
}
.submit-section aside p,
.submit-section aside ul {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.2em;
  color: #666;
}
.submit-section aside p a,
.submit-section aside ul a {
  text-decoration: none;
  color: #97bd3d;
}
.submit-section aside p a:hover,
.submit-section aside ul a:hover {
  text-decoration: underline;
}
.submit-section aside ul li {
  position: relative;
  padding: 0 0 0 10px;
  margin-bottom: 5px;
}
.submit-section aside ul li:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 5px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #555555;
}
.submit-section .content {
  padding: 0 15px;
}
@media (min-width: 850px) {

  .submit-section .content {
    padding: 0 0 0 262px;
  }
}

.story_form header h2 {
  position: relative;
  font-size: 35px;
  padding: 0px 30px 0px 0;
  margin: 10px 0 15px;
  color: #555555;
  font-weight: 300;
}
@media (min-width: 850px) {

  .story_form header h2 {
    font-size: 47px;
    margin: 0px 0 15px;
    padding: 0;
  }
}
.story_form header h2 a {
  display: block;
  position: absolute;
  top: 50%;
  right: 5px;
  border: 1px solid #555555;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.story_form header h2 a svg {
  fill: #555555;
  position: absolute;
  width: 60%;
  height: 60%;
  margin: 0 0 0 -1px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (min-width: 850px) {

  .story_form header h2 a {
    display: none;
  }
}
.story_form .form-box .stories_map-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 5px;
}
@media (min-width: 850px) {

  .story_form .form-box .stories_map-container {
    width: 582px;
  }
}
.story_form .form-box .stories_map-container .stories_map {
  height: 295px;
}
.story_form .form-box .stories_map-container .control-zoom, .story_form .form-box .stories_map-container .control-locate {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.story_form .form-box .stories_map-container .control-zoom button, .story_form .form-box .stories_map-container .control-locate button {
  display: block;
  width: 30px;
  height: 30px;
  background: white;
  box-shadow: none;
  border: none;
  border-top: 1px solid #e5e5df;
  outline: none;
  cursor: pointer;
}
.story_form .form-box .stories_map-container .control-zoom button:hover, .story_form .form-box .stories_map-container .control-locate button:hover {
  background: #f2f2f2;
}
.story_form .form-box .stories_map-container .control-zoom button:first-child, .story_form .form-box .stories_map-container .control-locate button:first-child {
  border-top: none;
}
.story_form .form-box .stories_map-container .control-zoom button svg, .story_form .form-box .stories_map-container .control-locate button svg {
  fill: #555555;
}
.story_form .form-box .stories_map-container .control-pin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background: url(/assets/icons/marker_exclamation.png);
  background-size: contain;
  margin: -20px 0 0 -20px;
}
.story_form .form-box .stories_map-container .control-locate {
  left: auto;
  right: 5px;
}
.story_form .form-box .stories_map-container .control-locate svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.story_form .form-box .stories_map-container .control-locate.active svg {
  -webkit-animation-name: loader;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: none;
  -webkit-animation-delay: 0s;
  -webkit-animation-play-state: running;
  -moz-animation-name: loader;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation-direction: normal;
  -moz-animation-fill-mode: none;
  -moz-animation-delay: 0s;
  -moz-animation-play-state: running;
  -ms-animation-name: loader;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-animation-direction: normal;
  -ms-animation-fill-mode: none;
  -ms-animation-delay: 0s;
  -ms-animation-play-state: running;
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-direction: normal;
  animation-fill-mode: none;
  animation-delay: 0s;
  animation-play-state: running;
}
.story_form .form-box .stories_map-container .control-search {
  position: absolute;
  top: 5px;
  right: 40px;
  width: 60%;
  min-width: 175px;
  max-width: 300px;
  padding: 0;
  font-size: 12px;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.story_form .form-box .stories_map-container .control-search input {
  display: block;
  width: 100%;
  height: 30px;
  margin: 0;
  font-family: inherit;
  border-radius: 0;
  box-shadow: none;
  border: none;
}
.story_form .form-box .hint {
  width: 100%;
  clear: both;
  font-size: 14px;
  line-height: 1.2em;
  color: #555555;
  padding: 2px 0 0;
}

.when-and-who {
  font-size: 15px;
  color: #666;
  text-align: center;
}

.story-content {
  margin-bottom: 30px;
}
.story-content p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #666;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -ms-column-count: 2;
  -o-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  -ms-column-gap: 20px;
  -o-column-gap: 20px;
  column-gap: 20px;
}

.story-share_buttons {
  text-align: left;
}
.story-share_buttons .fb_iframe_widget {
  top: -4px;
}

.thumbnails {
  width: 100%;
}
@media (min-width: 850px) {

  .thumbnails {
    float: left;
    width: 585px;
  }
}
.thumbnails .destroy {
  position: absolute;
  top: -9px;
  right: -9px;
  width: 18px;
  height: 18px;
  background: #555555;
  border-radius: 50%;
}
.thumbnails .destroy:hover {
  background: #484848;
}
.thumbnails .destroy svg {
  width: 65%;
  fill: white;
  display: block;
  margin: 0 auto;
}

.upload_picture {
  display: block;
  position: relative;
  width: 100%;
  height: 76px;
  margin: 5px 0 0;
  border: 2px dashed #97bd3d;
}
.upload_picture:hover {
  border-color: #88aa37;
}
.upload_picture:hover:before, .upload_picture:hover:after {
  background: #88aa37;
}
.upload_picture:before, .upload_picture:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #97bd3d;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.upload_picture:before {
  height: 30px;
  width: 4px;
}
.upload_picture:after {
  height: 4px;
  width: 30px;
}
@media (min-width: 850px) {

  .upload_picture {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    float: left;
    width: 132px;
    margin: 5px 10px 0px 0;
  }
}

.thumbnail {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  width: 48%;
  height: 76px;
  margin: 4% 0px 0 0;
  border: 2px solid #fff;
  background: #fff;
  cursor: move;
}
.thumbnail:nth-child(2n+3) {
  margin: 4% 0 0 4%;
}
@media (min-width: 850px) {

  .thumbnail {
    width: 132px;
    height: 76px;
    margin: 5px 10px 0 0;
  }

  .thumbnail:nth-child(2n+3) {
    margin: 5px 10px 0 0;
  }
}
.thumbnail .inner_box {
  width: 100%;
  height: 100%;
  clear: both;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.thumbnail:hover {
  border: 2px solid #97bd3d;
}
.thumbnail.preview {
  cursor: default;
  border: 1px solid #97bd3d;
}
.thumbnail.preview:hover {
  border: 1px solid #97bd3d;
}
.thumbnail .filename {
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #666;
}
.thumbnail .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin: -10px 0 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-name: loader;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-direction: normal;
  -webkit-animation-fill-mode: none;
  -webkit-animation-delay: 0s;
  -webkit-animation-play-state: running;
  -moz-animation-name: loader;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation-direction: normal;
  -moz-animation-fill-mode: none;
  -moz-animation-delay: 0s;
  -moz-animation-play-state: running;
  -ms-animation-name: loader;
  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-animation-direction: normal;
  -ms-animation-fill-mode: none;
  -ms-animation-delay: 0s;
  -ms-animation-play-state: running;
  animation-name: loader;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  animation-direction: normal;
  animation-fill-mode: none;
  animation-delay: 0s;
  animation-play-state: running;
  visibility: visible;
  opacity: 1;
  z-index: 11;
}
.thumbnail .spinner svg {
  fill: #97bd3d;
}

.field_with_errors .stories_map {
  border: 1px solid #C12000;
}

#fileupload {
  display: none;
}
